name: CI Job

on:
  push:
    branches:
      - "main"
    paths:
      - "src/**"
  pull_request:
    branches:
      - "main"
    paths:
      - "src/**"
    
jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Download dependencies
        run: go mod tidy

      - name: Build
        run: go build -v ./...

      #- name: Run tests
      #  run: go test -v ./...

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build & Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: src
          file: src/Dockerfile
          push: true
          platforms: linux/amd64, linux/arm64
          tags: flrhyme9/vmalert-webhook:1.0.0
